.large-form-container {
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 30%;
    height: 70%;
    padding: 30px;
    background: #63D987;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 1%;
}

.form-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}