.outer-product-container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.product-container {
    width: 400px;
    height: 600px;
    background: #D34735;
}